@model SJOne.Models.ManagementViewModels.SportEventSettingsViewModel

@{
    ViewBag.Title = "Настройки события";
}

    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-9">
            <h2>@Html.DisplayFor(model => model.EventName)</h2>
            <hr />

            <h4><span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(model => model.EventDate)</h4>
           
            <div>
                <span class="label label-info">Info Label</span>
            </div>
            

            <div>
                <p>@Html.DisplayFor(model => model.Description)</p>                
            </div>
        </div>
    </div>


    

