@model SJOne.Models.AvatarViewModel

<div class="modal-sm modal-content">
    @using (Html.BeginForm("UploadAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Загрузка изображения</h4>
        </div>

        <div class="modal-body">
            <fieldset>
                <div class="editor">
                    @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                </div>
                <div class="editor">
                    <input type="file" name="imageFile" />
                </div>
                <br />
                <p class="modal-footer">
                    <input type="submit" value="Сохранить" class="btn btn-success" />
                </p>
            </fieldset>
        </div>
    }

</div>

@Scripts.Render("~/bundles/jqueryval")

