@model SJOne.Models.HandTimingViewModel


@{
    ViewBag.Title = "HandTiming";
}

<h2>HandTiming</h2>



    <div class="col-md-2">
        <button type="button" class="btn">Basic</button>
    </div>





<hr />

<div id="buttonList">
    @{
        @Html.Partial("ButtonList", @Model.Id);
    }

</div>


@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('.btn').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("HandTiming", "Judge")',
                data: { id: '@Model.Id', start: true }
                
            });
        });
    });
    </script>
}








