@model SJOne.Models.LocalityDropDownListViewModel


<div id="localities" class="form-group offset-1">
    @Html.LabelFor(model => model.Localities)
    <div class="input-group">
        @Html.DropDownListFor(model => model.LocalityId, Model.Localities, new { @class = "selectpicker", @data_live_search = "true" })
        @Html.ValidationMessageFor(model => model.Localities, "", new { @class = "text-danger" })
        <div class="input-group-append">
            <button id="newLocality" class="btn btn-secondary" type="button"><span class="octicon octicon-pencil"></span></button>
        </div>
    </div>
</div>




<script type="text/javascript">

    $(function () {
        $('.selectpicker').selectpicker();
    });

    $('#newLocality').click(function () {
        $('#newLocalityForm').show();
        $('#localities').hide();
        $('#locality').focus();
        $('#locality').keyup(function () {
            if ($(this).val() != '') {
                $('#toAddLocality').prop('disabled', false);
            }
            else {
                $('#toAddLocality').prop('disabled', true);
            }
        });
    });

</script>






