@model SJOne.Models.Filters.UserFilter


<form method="get">
    <div class="col-md-5">
        <div class="input-group mb-3">
            @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control" } })
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><span class="octicon octicon-search"></span> Поиск</button>
            </div>
        </div>
    </div>

</form>