@model SJOne.Models.LocalitiesDropDownListViewModel


@Html.LabelFor(model => model.LocalityId)
<div class="input-group">
    @Html.DropDownListFor(model => model.LocalityId, Model.Localities, "- Населённый пункт -", new
    {
        @id = "clubLocalityList",
        @class = "selectpicker form-control",
        @data_live_search = "true",
        @aria_describedby = "clubLocalityHelp",
        @data_size = "5"
    })
    <div class="input-group-append">
        <button id="newClubLocality" class="btn btn-secondary" type="button"><span class="octicon octicon-pencil"></span></button>
    </div>
</div>
<small id="clubLocalityHelp" class="form-text text-muted">
    *Выберите населённый, пункт к которому относится спортивный клуб.
    Если нужного названия нет, Вы можете добавить его самостоятельно.
</small>
@Html.ValidationMessageFor(model => model.LocalityId, "", new { @class = "text-danger" })


<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>






